<p><%= @user.name %>,</p>

<p>Thanks for signing up! You are just one step away from having an active account.</p>

<p><%= link_to "Activate Your Account",
			edit_password_reset_url(@user.confirm_token) %></p>
